---

---

<section class="h-svh grid place-items-center relative snap-start">
    <div class="flex flex-col items-center gap-3 md:gap-5 text-center self-end">
        <h1 class="md:text-7xl text-5xl font-medium">Soy Aitor Lopez</h1>
        <h2 class="md:text-5xl text-2xl font-light mb-4">Ingeniero Aereoespacial Junior</h2>
        <div class="flex gap-8 mb-6">
            <a href="#" class="hover:scale-110 transition-transform">
                <img src="/linkedin.svg" alt="linkedin" class="w-8 md:w-10"/>
            </a>
            <a href="#" class="hover:scale-110 transition-transform">
                <img src="/github.svg" alt="github" class="w-8 md:w-10"/>
            </a>
            <a href="#" class="hover:scale-110 transition-transform">
                <img src="/instagram.svg" alt="instagram" class="w-8 md:w-10"/>
            </a>
            <a href="#" class="hover:scale-110 transition-transform">
                <img src="/email.svg" alt="email" class="w-8 md:w-10"/>
            </a>
        </div>
        <div class="bg-black text-white w-24 md:w-28 rounded-xl hover:scale-110 transition-transform">
            <button class="w-full flex justify-around items-center text-lg md:text-2xl font-semibold py-3 px-3">CV<img src="/download.svg" alt="download" class="w-4 md:w-6"></button>
        </div>
    </div>
    <img src="/planeBajar.svg" alt="flecha" class="w-14 md:w-20 self-end relative bottom-10 animate-bounce"/>
</section>