---

---

<section class="h-svh grid place-items-center relative snap-start">
    <div class="flex flex-col items-center gap-3 text-center self-end">
        <h1 class="md:text-7xl text-5xl font-medium">Soy Aitor Lopez</h1>
        <h2 class="md:text-5xl text-2xl font-light mb-4">Ingeniero Aereoespacial Junior</h2>
        <div class="flex gap-8 mb-6">
            <a href="#">
                <img src="/linkedin.svg" alt="linkedin" class="w-8 md:w-12"/>
            </a>
            <a href="#">
                <img src="/github.svg" alt="github" class="w-8 md:w-12"/>
            </a>
            <a href="#">
                <img src="/instagram.svg" alt="instagram" class="w-8 md:w-12"/>
            </a>
            <a href="#">
                <img src="/email.svg" alt="email" class="w-8 md:w-12"/>
            </a>
        </div>
        <div class="bg-black text-white w-24 md:w-32 rounded-xl">
            <button class="w-full flex justify-around items-center text-lg md:text-3xl font-semibold py-3 px-3">CV<img src="/download.svg" alt="download" class="w-4 md:w-7"></button>
        </div>
    </div>
    <img src="/flecha.svg" alt="flecha" class="w-12 md:w-20 self-end md:relative md:bottom-3"/>
</section>