---
import { languages } from '../i18n/ui';
import { getLangFromUrl, useTranslatedPath } from '../i18n/utils';

const langUrl = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(langUrl);
---
<ul class="flex gap-5">
  {Object.entries(languages).map(([lang, label]) => (
    <li class={langUrl === lang ? 'font-bold scale-110' : 'hover:scale-110 transition-transform'}>
      <a href={translatePath('/', lang)}>{label}</a>
    </li>
  ))}
</ul>