---
import SwiperCarousel from './carrousel.jsx';
---

<section class="h-svh grid place-items-center md:grid-rows-4 snap-start">
    <img src="/flecha.svg" alt="flecha" class="rotate-180 w-12 md:w-20 self-start relative top-4"/>
    <div class="lg:max-w-[1000px] max-w-xs md:max-w-[650px] xl:max-w-[1100px] self-start">
        <h3 class="md:text-5xl text-4xl font-semibold text-center mb-5 md:mb-7">Proyectos</h3>
            <SwiperCarousel client:load />
    </div>
</section>
