---
import SwiperCarousel from './carrousel.jsx';
---

<section class="h-svh grid place-items-center relative snap-start">
    <img src="/flecha.svg" alt="flecha" class="absolute top-7 left-[50%] -translate-x-[50%] rotate-180 w-16 md:w-20"/>
    <div class="lg:max-w-7xl max-w-sm">
        <h3 class="md:text-5xl text-4xl font-semibold text-center mb-10">Proyectos</h3>
            <SwiperCarousel client:load />
    </div>
</section>
