---
import SwiperCarousel from './carrousel.jsx';
---

<section class="h-svh grid place-items-center relative snap-start">
    <img src="/flecha.svg" alt="flecha" class="absolute top-7 left-[50%] -translate-x-[50%] rotate-180"/>
    <div class="max-w-7xl">
        <h3 class="text-5xl font-semibold text-center mb-10">Proyectos</h3>
            <SwiperCarousel client:load />
    </div>
</section>
