---

---

<section class="h-svh grid place-items-center relative snap-start">
    <img src="/flecha.svg" alt="flecha" class="absolute top-7 left-[50%] -translate-x-[50%] rotate-180 w-16 md:w-20"/>
  <div class="max-w-7xl w-10/12 mx-auto flex justify-evenly flex-wrap gap-5">
      <div class="flex flex-col gap-3 md:gap-6  md:mt-10">
          <h3 class="text-4xl md:text-5xl font-semibold">Sobre Mi</h3>
          <p class="max-w-[60ch]">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis convallis
            dolor. Nam vitae libero a sapien fringilla viverra eu non ligula. Morbi
            suscipit sapien quis pellentesque sollicitudin. Aliquam quam nunc, suscipit
            id sem nec, vestibulum fermentum enim. Integer rhoncus odio at fringilla
            suscipit. Fusce ut venenatis enim, et consectetur est. Vivamus facilisis
            neque quis rhoncus dapibus.
          </p>
      </div>
      <div class="md:w-[350px] bg-black md:h-[350px] w-80 h-80"></div>
  </div>
  <img src="/flecha.svg" alt="flecha" class="absolute bottom-7 left-[50%] -translate-x-[50%] w-16 md:w-20"/>
</section>
