---

---

<section class="h-svh grid place-items-center relative snap-start">
  <img
    src="/planeSubir.svg"
    alt="flecha"
    class="w-14 md:w-20 md:self-start relative top-10 opacity-0"
  />
  <div class="max-w-7xl w-10/12 mx-auto flex justify-evenly flex-wrap gap-5 md:gap-10">
    <div class="flex flex-col gap-3 md:gap-6">
      <h3 class="text-4xl md:text-5xl font-semibold">Sobre Mi</h3>
      <p class="max-w-[60ch] text-sm md:text-base">
        <span class="font-semibold text-base md:text-lg">¡Buenas! Soy Aitor,</span><br>Un estudiante de ingeniería aeroespacial al borde
        de graduarme y dispuesto por embarcarme en mi carrera profesional.
        Dispuesto a aplicar mis conocimientos aeroportuarios en desarrollo y
        gestión de proyectos. Aspiro a albergar conocimiento sobre el mundo,
        expandiendo continuamente mis herramientas como ingeniero aeroespacial.
        Acompañame en este recorrido!
      </p>
    </div>
    <div class="md:w-[350px] bg-black md:h-[350px] w-80 h-60"></div>
  </div>
  <img src="/planeBajar.svg" alt="flecha" class="w-14 md:w-20 self-end relative bottom-10 animate-bounce"/>
</section>
